{# src/PSL/ClipperBundle/Resources/views/Charts/detractors_promotes_these_brands.html.twig #}
{% autoescape false %}
    {% for dataSection in dataTable %}
      <!-- START CHART #6-{{ loop.index0 }} -->
      <script type="text/javascript">
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable({{ dataSection|json_encode() }});
          var options = {
            'sort': 'disable',
          };
          var chart = new google.visualization.Table(document.getElementById('{{ chartDivId }}-{{ loop.index0 }}'));
          chart.draw(data, options);
        }
      </script>
      <!--Div that will hold the chart-->
      <h4>{{ dataSection.title }}</h4>
      <div id="{{ chartDivId }}-{{ loop.index0 }}" style="margin: 30px 20px;"></div>
      <!-- END CHART -->
    {% endfor %}
{% endautoescape %}