{# src/PSL/ClipperBundle/Resources/views/Charts/devoted_doctor_to_brands.html.twig #}
{% autoescape false %}
    <!-- START CHART -->
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        //set data
        var data = clipper.charts.formatters.Loyalty_Chart({{ dataTable|json_encode() }});

        var chart = new clipper.charts.Loyalty_Chart('{{ chartDivId }}', null, data);
        // var data = new google.visualization.DataTable({{ dataTable|json_encode() }});

        // console.log({{ dataTable|json_encode() }});

        // //Mean (first) color
        // data.setCell(0, 3, 'fill-color: #F90;');

        // //set options
        // var options = {
        //   'title' : 'How loyal are doctors to my brand?',
        //   'legend': 'none',
        //   'annotations' : {
        //     'alwaysOutside': true,
        //     'textStyle' : {
        //       'bold' : true,
        //       'color': '#000'
        //     }
        //   },
        //   'hAxis': {
        //     'gridlines': {
        //       'color': 'none'
        //     },
        //     'viewWindowMode' : 'explicit',
        //       'viewWindow': {
        //         //- Chart Width; default the chart will maximize bar to its length
        //         'max': (Math.floor((Math.max.apply(Math, data.getDistinctValues(1))) + 1)) * 1.8,
        //         'min': 0
        //     },
        //   },
        //   'colors': ['#36C']
        // };

        // //draw
        // var chart = new google.visualization.BarChart(document.getElementById('{{ chartDivId }}'));
        // chart.draw(data, options);
      }
    </script>
    <!--Div that will hold the chart-->
    <div id="{{ chartDivId }}" style="width:400; height:300"></div>
    <!-- END CHART -->
{% endautoescape %}