{# src/PSL/ClipperBundle/Resources/views/Charts/detractors_promotes_these_brands.html.twig #}
{% autoescape false %}
    {% for dataSection in dataTable %}
      <!-- START CHART #7-{{ loop.index0 }} -->
      <script type="text/javascript">
        google.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = new google.visualization.DataTable({{ dataSection|json_encode() }});

          data.setCell(0, 3, 'fill-color: #BB0F43;');
          data.setCell(1, 3, 'fill-color: #1F20A7;');

          var options = {
            'title' : '{{ dataSection.title }}',
            'legend': 'none',
            'bar': {groupWidth: "100%"},
            'annotations' : {
              'alwaysOutside': false,
              'textStyle' : {
                'bold' : true,
                'text-anchor' : 'right',
              }
            },
            'baselineColor': 'none',
            'hAxis': {
              'gridlines': {
                'color': 'none'
              },
              'title': data.getColumnLabel(0),
            },
            'vAxis': {
              'textPosition': 'none',
              'gridlines': {
                'color': 'none'
              },
            },
            'tooltip' : {
              'trigger': 'none'
            }
          };
          var chart = new google.visualization.ColumnChart(document.getElementById('{{ chartDivId }}-{{ loop.index0 }}'));
          chart.draw(data, options);
        }
      </script>
      <!--Div that will hold the chart-->
      <div id="{{ chartDivId }}-{{ loop.index0 }}" style="width: 400px; margin: 30px 20px;"></div>
      <!-- END CHART -->
    {% endfor %}
{% endautoescape %}