{% autoescape false %}
<?xml version="1.0" encoding="UTF-8"?>
<document>
 <LimeSurveyDocType>Survey</LimeSurveyDocType>
 <DBVersion>177</DBVersion>
 <languages>
{% for language in languages %}
    <language>{{ language }}</language>
{% endfor %}
 </languages>
 <answers>
  <fields>
   <fieldname>qid</fieldname>
   <fieldname>code</fieldname>
   <fieldname>answer</fieldname>
   <fieldname>sortorder</fieldname>
   <fieldname>assessment_value</fieldname>
   <fieldname>language</fieldname>
   <fieldname>scale_id</fieldname>
  </fields>
  <rows>
{% for answer in answers %}
    <row>
      <qid><![CDATA[{{ answer.qid }}]]></qid>
      <code><![CDATA[{{ answer.code }}]]></code>
      <answer><![CDATA[{{ answer.answer }}]]></answer>
      <sortorder><![CDATA[{{ answer.sortorder }}]]></sortorder>
      <assessment_value><![CDATA[{{ answer.assessment_value }}]]></assessment_value>
      <language><![CDATA[{{ answer.language }}]]></language>
      <scale_id><![CDATA[0]]></scale_id>
    </row>
{% endfor %}
  </rows>
 </answers>
 <conditions>
  <fields>
   <fieldname>cid</fieldname>
   <fieldname>qid</fieldname>
   <fieldname>cqid</fieldname>
   <fieldname>cfieldname</fieldname>
   <fieldname>method</fieldname>
   <fieldname>value</fieldname>
   <fieldname>scenario</fieldname>
  </fields>
  <rows>
{% for condition in conditions %}
    <row>
      <cid><![CDATA[{{ condition.cid }}]]></cid>
      <qid><![CDATA[{{ condition.qid }}]]></qid>
      <cqid><![CDATA[{{ condition.cqid }}]]></cqid>
      <cfieldname><![CDATA[{{ condition.cfieldname }}]]></cfieldname>
      <method><![CDATA[{{ condition.method }}]]></method>
      <value><![CDATA[{{ condition.value }}]]></value>
      <scenario><![CDATA[{{ condition.scenario }}]]></scenario>
    </row>
{% endfor %}
  </rows>
 </conditions>
 <groups>
  <fields>
   <fieldname>gid</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>group_name</fieldname>
   <fieldname>group_order</fieldname>
   <fieldname>description</fieldname>
   <fieldname>language</fieldname>
   <fieldname>randomization_group</fieldname>
   <fieldname>grelevance</fieldname>
  </fields>
  <rows>
{% for group in groups %}
    <row>
      <gid><![CDATA[{{ group.gid }}]]></gid>
      <sid><![CDATA[{{ group.sid }}]]></sid>
      <group_name><![CDATA[{{ group.group_name }}]]></group_name>
      <group_order><![CDATA[{{ group.group_order }}]]></group_order>
      <description/>
      <language><![CDATA[{{ group.language }}]]></language>
      <randomization_group/>
      <grelevance/>
    </row>
{% endfor %}
  </rows>
 </groups>
 <questions>
  <fields>
   <fieldname>qid</fieldname>
   <fieldname>parent_qid</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>gid</fieldname>
   <fieldname>type</fieldname>
   <fieldname>title</fieldname>
   <fieldname>question</fieldname>
   <fieldname>preg</fieldname>
   <fieldname>help</fieldname>
   <fieldname>other</fieldname>
   <fieldname>mandatory</fieldname>
   <fieldname>question_order</fieldname>
   <fieldname>language</fieldname>
   <fieldname>scale_id</fieldname>
   <fieldname>same_default</fieldname>
   <fieldname>relevance</fieldname>
  </fields>
  <rows>
{% for question in questions %}
    <row>
      <qid><![CDATA[{{ question.qid }}]]></qid>
      <parent_qid><![CDATA[{{ question.parent_qid }}]]></parent_qid>
      <sid><![CDATA[{{ question.sid }}]]></sid>
      <gid><![CDATA[{{ question.gid }}]]></gid>
      <type><![CDATA[{{ question.type }}]]></type>
      <title><![CDATA[{{ question.title }}]]></title>
      <question><![CDATA[{{ question.question }}]]></question>
      <preg><![CDATA[{{ question.preg }}]]></preg>
      <help><![CDATA[{{ question.help }}]]></help>
      <other><![CDATA[{{ question.other }}]]></other>
      <mandatory><![CDATA[{{ question.mandatory }}]]></mandatory>
      <question_order><![CDATA[{{ question.question_order }}]]></question_order>
      <language><![CDATA[{{ question.language }}]]></language>
      <scale_id><![CDATA[{{ question.scale_id }}]]></scale_id>
      <same_default><![CDATA[{{ question.same_default }}]]></same_default>
      <relevance><![CDATA[{{ question.relevance }}]]></relevance>
   </row>
{% endfor %}
  </rows>
 </questions>
 <subquestions>
  <fields>
   <fieldname>qid</fieldname>
   <fieldname>parent_qid</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>gid</fieldname>
   <fieldname>type</fieldname>
   <fieldname>title</fieldname>
   <fieldname>question</fieldname>
   <fieldname>preg</fieldname>
   <fieldname>help</fieldname>
   <fieldname>other</fieldname>
   <fieldname>mandatory</fieldname>
   <fieldname>question_order</fieldname>
   <fieldname>language</fieldname>
   <fieldname>scale_id</fieldname>
   <fieldname>same_default</fieldname>
   <fieldname>relevance</fieldname>
  </fields>
  <rows>
{% for subquestion in subquestions %}
    <row>
      <qid><![CDATA[{{ subquestion.qid }}]]></qid>
      <parent_qid><![CDATA[{{ subquestion.parent_qid }}]]></parent_qid>
      <sid><![CDATA[{{ subquestion.sid }}]]></sid>
      <gid><![CDATA[{{ subquestion.gid }}]]></gid>
      <type><![CDATA[{{ subquestion.type }}]]></type>
      <title><![CDATA[{{ subquestion.title }}]]></title>
      <question><![CDATA[{{ subquestion.question }}]]></question>
      <other><![CDATA[{{ subquestion.other }}]]></other>
      <question_order><![CDATA[{{ subquestion.question_order }}]]></question_order>
      <language><![CDATA[{{ subquestion.language }}]]></language>
      <scale_id><![CDATA[{{ subquestion.scale_id }}]]></scale_id>
      <same_default><![CDATA[0]]></same_default>
    </row>
{% endfor %}
  </rows>
 </subquestions>
 <question_attributes>
  <fields>
   <fieldname>qid</fieldname>
   <fieldname>attribute</fieldname>
   <fieldname>value</fieldname>
   <fieldname>language</fieldname>
  </fields>
  <rows>
{% for question_attribute in question_attributes %}
  <row>
    <qid><![CDATA[{{ question_attribute.qid }}]]></qid>
    <attribute><![CDATA[{{ question_attribute.attribute }}]]></attribute>
    <value><![CDATA[{{ question_attribute.value }}]]></value>
    <language><![CDATA[{{ question_attribute.language }}]]></language>
  </row>
{% endfor %}
  </rows>
 </question_attributes>
 <quota>
  <fields>
   <fieldname>id</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>name</fieldname>
   <fieldname>qlimit</fieldname>
   <fieldname>action</fieldname>
   <fieldname>active</fieldname>
   <fieldname>autoload_url</fieldname>
  </fields>
  <rows>
{% for quota in quotas %}
  <row>
    <id><![CDATA[{{ quota.id }}]]></id>
    <sid><![CDATA[{{ quota.sid }}]]></sid>
    <name><![CDATA[{{ quota.name }}]]></name>
    <qlimit><![CDATA[{{ quota.qlimit }}]]></qlimit>
    <action><![CDATA[{{ quota.action }}]]></action>
    <active><![CDATA[{{ quota.active }}]]></active>
    <autoload_url><![CDATA[{{ quota.autoload_url }}]]></autoload_url>
  </row>
{% endfor %}
  </rows>
 </quota>
 <quota_members>
  <fields>
   <fieldname>id</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>qid</fieldname>
   <fieldname>quota_id</fieldname>
   <fieldname>code</fieldname>
  </fields>
  <rows>
{% for quota in quotas %}
  <row>
    <id><![CDATA[{{ quota.id }}]]></id>
    <sid><![CDATA[{{ quota.sid }}]]></sid>
    <qid><![CDATA[{{ quota.qid }}]]></qid>
    <quota_id><![CDATA[{{ quota.quota_id }}]]></quota_id>
    <code><![CDATA[{{ quota.code }}]]></code>
  </row>
{% endfor %}
  </rows>
 </quota_members>
 <quota_languagesettings>
  <fields>
   <fieldname>quotals_id</fieldname>
   <fieldname>quotals_quota_id</fieldname>
   <fieldname>quotals_language</fieldname>
   <fieldname>quotals_name</fieldname>
   <fieldname>quotals_message</fieldname>
   <fieldname>quotals_url</fieldname>
   <fieldname>quotals_urldescrip</fieldname>
  </fields>
  <rows>
{% for quota in quotas %}
  {% for quotal in quota.quotals %}
    <row>
      <quotals_id><![CDATA[{{ quotal.quotals_id }}]]></quotals_id>
      <quotals_quota_id><![CDATA[{{ quotal.quotals_quota_id }}]]></quotals_quota_id>
      <quotals_language><![CDATA[{{ quotal.quotals_language }}]]></quotals_language>
      <quotals_name><![CDATA[{{ quotal.quotals_name }}]]></quotals_name>
      <quotals_message><![CDATA[{{ quotal.quotals_message }}]]></quotals_message>
      <quotals_url><![CDATA[{{ quotal.quotals_url }}]]></quotals_url>
      <quotals_urldescrip><![CDATA[{{ quotal.quotals_urldescrip }}]]></quotals_urldescrip>
    </row>
  {% endfor %}
{% endfor %}
  </rows>
 </quota_languagesettings>
 <surveys>
  <fields>
   <fieldname>sid</fieldname>
   <fieldname>admin</fieldname>
   <fieldname>expires</fieldname>
   <fieldname>startdate</fieldname>
   <fieldname>adminemail</fieldname>
   <fieldname>anonymized</fieldname>
   <fieldname>faxto</fieldname>
   <fieldname>format</fieldname>
   <fieldname>savetimings</fieldname>
   <fieldname>template</fieldname>
   <fieldname>language</fieldname>
   <fieldname>additional_languages</fieldname>
   <fieldname>datestamp</fieldname>
   <fieldname>usecookie</fieldname>
   <fieldname>allowregister</fieldname>
   <fieldname>allowsave</fieldname>
   <fieldname>autonumber_start</fieldname>
   <fieldname>autoredirect</fieldname>
   <fieldname>allowprev</fieldname>
   <fieldname>printanswers</fieldname>
   <fieldname>ipaddr</fieldname>
   <fieldname>refurl</fieldname>
   <fieldname>publicstatistics</fieldname>
   <fieldname>publicgraphs</fieldname>
   <fieldname>listpublic</fieldname>
   <fieldname>htmlemail</fieldname>
   <fieldname>sendconfirmation</fieldname>
   <fieldname>tokenanswerspersistence</fieldname>
   <fieldname>assessments</fieldname>
   <fieldname>usecaptcha</fieldname>
   <fieldname>usetokens</fieldname>
   <fieldname>bounce_email</fieldname>
   <fieldname>attributedescriptions</fieldname>
   <fieldname>emailresponseto</fieldname>
   <fieldname>emailnotificationto</fieldname>
   <fieldname>tokenlength</fieldname>
   <fieldname>showxquestions</fieldname>
   <fieldname>showgroupinfo</fieldname>
   <fieldname>shownoanswer</fieldname>
   <fieldname>showqnumcode</fieldname>
   <fieldname>bouncetime</fieldname>
   <fieldname>bounceprocessing</fieldname>
   <fieldname>bounceaccounttype</fieldname>
   <fieldname>bounceaccounthost</fieldname>
   <fieldname>bounceaccountpass</fieldname>
   <fieldname>bounceaccountencryption</fieldname>
   <fieldname>bounceaccountuser</fieldname>
   <fieldname>showwelcome</fieldname>
   <fieldname>showprogress</fieldname>
   <fieldname>questionindex</fieldname>
   <fieldname>navigationdelay</fieldname>
   <fieldname>nokeyboard</fieldname>
   <fieldname>alloweditaftercompletion</fieldname>
   <fieldname>googleanalyticsstyle</fieldname>
   <fieldname>googleanalyticsapikey</fieldname>
  </fields>
  <rows>
{% for survey in surveys %}
    <row>
      <sid><![CDATA[{{ survey.survey_id }}]]></sid>
      <admin><![CDATA[Administrator]]></admin>
      <adminemail><![CDATA[{{ survey.adminemail }}]]></adminemail>
      <anonymized><![CDATA[N]]></anonymized>
      <faxto><![CDATA[{{ survey.faxto }}]]></faxto>
      <format><![CDATA[G]]></format>
      <savetimings><![CDATA[Y]]></savetimings>
      <template><![CDATA[{{ survey.surveytemplate }}]]></template>
      <language><![CDATA[{{ survey.language }}]]></language>
      <additional_languages><![CDATA[{{ survey.additional_languages }}]]></additional_languages>
      <datestamp><![CDATA[Y]]></datestamp>
      <usecookie><![CDATA[N]]></usecookie>
      <allowregister><![CDATA[N]]></allowregister>
      <allowsave><![CDATA[Y]]></allowsave>
      <autonumber_start><![CDATA[136]]></autonumber_start>
      <autoredirect><![CDATA[N]]></autoredirect>
      <allowprev><![CDATA[Y]]></allowprev>
      <printanswers><![CDATA[N]]></printanswers>
      <ipaddr><![CDATA[N]]></ipaddr>
      <refurl><![CDATA[N]]></refurl>
      <publicstatistics><![CDATA[N]]></publicstatistics>
      <publicgraphs><![CDATA[N]]></publicgraphs>
      <listpublic><![CDATA[Y]]></listpublic>
      <htmlemail><![CDATA[Y]]></htmlemail>
      <sendconfirmation><![CDATA[Y]]></sendconfirmation>
      <tokenanswerspersistence><![CDATA[N]]></tokenanswerspersistence>
      <assessments><![CDATA[N]]></assessments>
      <usecaptcha><![CDATA[D]]></usecaptcha>
      <usetokens><![CDATA[N]]></usetokens>
      <bounce_email><![CDATA[{{ survey.bounce_email }}]]></bounce_email>
      <emailresponseto/>
      <emailnotificationto/>
      <tokenlength><![CDATA[15]]></tokenlength>
      <showxquestions><![CDATA[N]]></showxquestions>
      <showgroupinfo><![CDATA[B]]></showgroupinfo>
      <shownoanswer><![CDATA[Y]]></shownoanswer>
      <showqnumcode><![CDATA[X]]></showqnumcode>
      <bounceprocessing><![CDATA[N]]></bounceprocessing>
      <showwelcome><![CDATA[N]]></showwelcome>
      <showprogress><![CDATA[Y]]></showprogress>
      <questionindex><![CDATA[0]]></questionindex>
      <navigationdelay><![CDATA[0]]></navigationdelay>
      <nokeyboard><![CDATA[N]]></nokeyboard>
      <alloweditaftercompletion><![CDATA[N]]></alloweditaftercompletion>
      <googleanalyticsstyle><![CDATA[0]]></googleanalyticsstyle>
      <googleanalyticsapikey/>
    </row>
{% endfor %}
  </rows>
 </surveys>
 <surveys_languagesettings>
  <fields>
   <fieldname>surveyls_survey_id</fieldname>
   <fieldname>surveyls_language</fieldname>
   <fieldname>surveyls_title</fieldname>
   <fieldname>surveyls_description</fieldname>
   <fieldname>surveyls_welcometext</fieldname>
   <fieldname>surveyls_endtext</fieldname>
   <fieldname>surveyls_url</fieldname>
   <fieldname>surveyls_urldescription</fieldname>
   <fieldname>surveyls_email_invite_subj</fieldname>
   <fieldname>surveyls_email_invite</fieldname>
   <fieldname>surveyls_email_remind_subj</fieldname>
   <fieldname>surveyls_email_remind</fieldname>
   <fieldname>surveyls_email_register_subj</fieldname>
   <fieldname>surveyls_email_register</fieldname>
   <fieldname>surveyls_email_confirm_subj</fieldname>
   <fieldname>surveyls_email_confirm</fieldname>
   <fieldname>surveyls_dateformat</fieldname>
   <fieldname>surveyls_attributecaptions</fieldname>
   <fieldname>email_admin_notification_subj</fieldname>
   <fieldname>email_admin_notification</fieldname>
   <fieldname>email_admin_responses_subj</fieldname>
   <fieldname>email_admin_responses</fieldname>
   <fieldname>surveyls_numberformat</fieldname>
   <fieldname>attachments</fieldname>
  </fields>
  <rows>
{% for surveys_languagesetting in surveys_languagesettings %}
{{ surveys_languagesetting }}
{% endfor %}
  </rows>
 </surveys_languagesettings>
 <survey_url_parameters>
  <fields>
   <fieldname>id</fieldname>
   <fieldname>sid</fieldname>
   <fieldname>parameter</fieldname>
   <fieldname>targetqid</fieldname>
   <fieldname>targetsqid</fieldname>
  </fields>
  <rows>
{% for survey_url_parameter in survey_url_parameters %}
   <row>
    <id><![CDATA[{{ survey_url_parameter.id }}]]></id>
    <sid><![CDATA[{{ survey_url_parameter.sid }}]]></sid>
    <parameter><![CDATA[{{ survey_url_parameter.parameter }}]]></parameter>
    <targetqid><![CDATA[{{ survey_url_parameter.targetqid }}]]></targetqid>
    <targetsqid><![CDATA[{{ survey_url_parameter.targetsqid }}]]></targetsqid>
   </row>
{% endfor %}
  </rows>
 </survey_url_parameters>
</document>
{% endautoescape %}
