{% autoescape false %}
   <row>
    <qid><![CDATA[{{ qid }}]]></qid>
    <parent_qid><![CDATA[{{ parent_qid }}]]></parent_qid>
    <sid><![CDATA[{{ sid }}]]></sid>
    <gid><![CDATA[{{ gid }}]]></gid>
    <type><![CDATA[{{ type }}]]></type>
    <title><![CDATA[{{ title }}]]></title>
    <question><![CDATA[{{ question }}]]></question>
    <preg><![CDATA[{{ preg }}]]></preg>
    <help><![CDATA[{{ help }}]]></help>
    <other><![CDATA[{{ other }}]]></other>
    <mandatory><![CDATA[{{ mandatory }}]]></mandatory>
    <question_order><![CDATA[{{ question_order }}]]></question_order>
    <language><![CDATA[en]]></language>
    <scale_id><![CDATA[{{ scale_id }}]]></scale_id>
    <same_default><![CDATA[{{ same_default }}]]></same_default>
    <relevance><![CDATA[{{ relevance }}]]></relevance>
   </row>
{% endautoescape %}